<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Foodfy - Home</title>

    <link rel="stylesheet" href="index.css">
</head>
<body>
    
    <section class="container">
        <aside></aside>

        <main>
            <nav class="navbar">
                <ul class="navbar-ul">
                    <li class="navbar-items">
                        <a href="index.html"> <span class="logo"><img src="../assets/logo.png" alt=""></span></a>
                    </li>
    
                    <li class="navbar-items"><a href="sobre.html">Sobre</a></li>
    
                    <li class="navbar-items"><a href="receitas.html">Receitas</a></li>
                </ul>                
            </nav>
    
            <div class="banner">
                <div class="banner-text">
                    <h1>As melhores receitas</h1>
                    <p>Aprenda a construir os melhores pratos com reeitas criadas por profissionais do mundo inteiro.</p>
                </div>
                <div class="banner-img">
                    <img src="../assets/chef.png" alt="">
                </div>                
            </div>
    
            <div class="mais-acessadas">
                <h3 class="mais-acessadas-titulo">Mais Acessadas</h3>
                
                <div class="cards">
                    <div class="card">
                        <img class="card-img" src="../assets/burger.png" alt="Triplo bacon burger">
                        <h4 class="card-titulo">Triplo bacon burger</h4>
                        <small class="card-autor">por Jorge Relato</small>
                    </div>

                    <div class="card">
                        <img class="card-img" src="../assets/pizza.png" alt="Pizza 4 estações">
                        <h4 class="card-titulo">Pizza 4 estações</h4>
                        <small class="card-autor">por Fabiana Melo</small>
                    </div>

                    <div class="card">
                        <img class="card-img" src="../assets/espaguete.png" alt="Espaguete ao alho">
                        <h4 class="card-titulo">Espaguete ao alho</h4>
                        <small class="card-autor">por Júlina Kinoto</small>
                    </div>

                    <div class="card">
                        <img class="card-img" src="../assets/lasanha.png" alt="Lasanha mac n' chesse">
                        <h4 class="card-titulo">Lasanha mac n' chesse</h4>
                        <small class="card-autor">por Juliano Vieira</small>
                    </div>

                    <div class="card">
                        <img class="card-img" src="../assets/doce.png" alt="Docinhos pão-do-céu">
                        <h4 class="card-titulo">Docinhos pão-do-céu</h4>
                        <small class="card-autor">por Ricardo Golvea</small>
                    </div>

                    <div class="card">
                        <img class="card-img" src="../assets/asinhas.png" alt="Asinhas de frango ao barbecue">
                        <h4 class="card-titulo">Asinhas de frango ao barbecue</h4>
                        <small class="card-autor">por Vania Steroski</small>
                    </div>
                </div>

            </div>
        </main>
    </section>
    <footer>
        <p class="footer-text">Todos direitos reservados, receitas Foodfy</p>
    </footer>

</body>
</html>