<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Foodfy - Home</title>

    <link rel="stylesheet" href="index.css">
</head>
<body>
    
    <section class="container">
        <aside></aside>

        <main>
            <nav class="navbar">
                <ul class="navbar-ul">
                    <li class="navbar-items">
                        <a href="index.html"> <span class="logo"><img src="../assets/logo.png" alt=""></span></a>
                    </li>
    
                    <li class="navbar-items"><a href="sobre.html">Sobre</a></li>
    
                    <li class="navbar-items"><a href="receitas.html">Receitas</a></li>
                </ul>                
            </nav>
    
            <div class="banner">
                <div class="banner-text">
                    <h1>As melhores receitas</h1>
                    <p>Aprenda a construir os melhores pratos com reeitas criadas por profissionais do mundo inteiro.</p>
                </div>
                <div class="banner-img">
                    <img src="../assets/chef.png" alt="">
                </div>                
            </div>
    
            <div class="mais-acessadas">
    
            </div>
        </main>
        
        <aside></aside>
    </section>

</body>
</html>