<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Foodfy - Home</title>

    <link rel="stylesheet" href="sobre.css">
</head>
<body>
    
    <section class="container">
        <aside></aside>

        <main>
            <nav class="navbar">
                <ul class="navbar-ul">
                    <li class="navbar-items">
                        <a href="index.html"> <span class="logo"><img src="../assets/logo.png" alt=""></span></a>
                    </li>
    
                    <li class="navbar-items active"><a href="sobre.html">Sobre</a></li>
    
                    <li class="navbar-items"><a href="receitas.html">Receitas</a></li>
                </ul>                
            </nav>
            
            <div class="sobre-content-box">
                <div class="text-box">
                    <h2 class="sobre-h2">Sobre o Foodfy</h2>
                    <p class="sobre-p">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor 
                        ncididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation 
                        ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit 
                        in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat 
                        non proident, sunt in culpa qui officia deserunt mollit anim id est laborum
                    </p>
                    
                    <p class="sobre-p">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor 
                        ncididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation 
                        ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit 
                        in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat 
                        non proident, sunt in culpa qui officia deserunt mollit anim id est laborum
                    </p>
                </div>

                <div class="text-box">
                    <h3 class="sobre-h3">Como tudo começou...</h3>
                    <p class="sobre-p">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor 
                        ncididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation 
                        ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit 
                        in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat 
                        non proident, sunt in culpa qui officia deserunt mollit anim id est laborum
                    </p>
                    <p class="sobre-p">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor 
                        ncididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation 
                        ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit 
                        in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat 
                        non proident, sunt in culpa qui officia deserunt mollit anim id est laborum
                    </p>
                </div>
                <div class="text-box">
                    <h3 class="sobre-h3">Nossas receitas</h3>
                    <p class="sobre-p">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor 
                        ncididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation 
                        ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit 
                        in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat 
                        non proident, sunt in culpa qui officia deserunt mollit anim id est laborum
                    </p>
                </div>
            </div>
            
        </main>
    </section>
    <footer>
        <p class="footer-text">Todos direitos reservados, receitas Foodfy</p>
    </footer>

</body>
</html>
</body>
</html>